@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Inter:wght@100;200;300;400&display=swap");

:root {
  --scroll-shift: 0px;
}

@property --drift-x {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

@property --drift-y {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

@property --jitter-x {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

@property --jitter-y {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

@property --sub-drift-x {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

@property --sub-drift-y {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

.stars-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 20;
}

.star-layer {
  position: absolute;
  inset: -15vh;
  will-change: transform, filter;
  transform: translate3d(
    calc(var(--parallax-x, 0px) + var(--drift-x, 0px) + var(--jitter-x, 0px)),
    calc(
      var(--parallax-y, 0px) +
      var(--drift-y, 0px) +
      var(--jitter-y, 0px) +
      var(--scroll-shift, 0px)
    ),
    0
  );
}

.star-layer::before,
.star-layer::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: inherit;
  transform: translate3d(var(--sub-drift-x, 0px), var(--sub-drift-y, 0px), 0);
}

.stars-micro {
  width: 1px;
  height: 1px;
  opacity: 0.2;
  box-shadow:
    2vw 6vh #f7f9ff,
    6vw 14vh #f7f9ff,
    10vw 30vh #f7f9ff,
    14vw 48vh #f7f9ff,
    18vw 70vh #f7f9ff,
    22vw 85vh #f7f9ff,
    26vw 12vh #f7f9ff,
    30vw 36vh #f7f9ff,
    34vw 60vh #f7f9ff,
    38vw 82vh #f7f9ff,
    42vw 18vh #f7f9ff,
    46vw 40vh #f7f9ff,
    50vw 65vh #f7f9ff,
    54vw 90vh #f7f9ff,
    58vw 22vh #f7f9ff,
    62vw 48vh #f7f9ff,
    66vw 74vh #f7f9ff,
    70vw 10vh #f7f9ff,
    74vw 32vh #f7f9ff,
    78vw 58vh #f7f9ff,
    82vw 84vh #f7f9ff,
    86vw 16vh #f7f9ff,
    90vw 42vh #f7f9ff,
    94vw 68vh #f7f9ff,
    98vw 88vh #f7f9ff,
    8vw 54vh #f7f9ff,
    16vw 8vh #f7f9ff,
    24vw 28vh #f7f9ff,
    32vw 46vh #f7f9ff,
    40vw 72vh #f7f9ff,
    48vw 6vh #f7f9ff,
    56vw 34vh #f7f9ff,
    64vw 52vh #f7f9ff,
    72vw 76vh #f7f9ff,
    80vw 12vh #f7f9ff,
    88vw 30vh #f7f9ff,
    96vw 58vh #f7f9ff;
  animation:
    driftA 30s linear infinite,
    twinkle 3s infinite alternate ease-in-out,
    blurBreathe 7s infinite ease-in-out,
    microJitter 3s ease-in-out infinite;
  animation-delay: -11s, -1.2s, -3.5s, -0.8s;
}

.stars-micro::before {
  opacity: 0.5;
  animation:
    driftB 36s linear infinite,
    twinkle 3s infinite alternate ease-in-out,
    blurBreathe 7s infinite ease-in-out,
    microJitter 3s ease-in-out infinite;
  animation-delay: -9s, -1s, -4s, -2s;
}

.stars-micro::after {
  opacity: 0.35;
  animation:
    driftC 26s linear infinite,
    twinkle 3s infinite alternate ease-in-out,
    blurBreathe 7s infinite ease-in-out,
    microJitter 3s ease-in-out infinite;
  animation-delay: -13s, -2s, -5s, -1s;
}

.stars-small {
  width: 2px;
  height: 2px;
  opacity: 0.32;
  box-shadow:
    5vw 10vh 1px #fff9f2,
    12vw 22vh 1px #fff9f2,
    18vw 40vh 1.5px #fff9f2,
    25vw 60vh 1px #fff9f2,
    32vw 80vh 1px #fff9f2,
    40vw 15vh 1.5px #fff9f2,
    48vw 35vh 1px #fff9f2,
    55vw 55vh 1px #fff9f2,
    62vw 75vh 1.5px #fff9f2,
    70vw 25vh 1px #fff9f2,
    78vw 45vh 1px #fff9f2,
    85vw 65vh 1.5px #fff9f2,
    92vw 85vh 1px #fff9f2,
    15vw 75vh 1.5px #fff9f2,
    22vw 12vh 1px #fff9f2,
    30vw 30vh 1px #fff9f2,
    38vw 50vh 1.5px #fff9f2,
    46vw 70vh 1px #fff9f2,
    54vw 90vh 1px #fff9f2,
    66vw 10vh 1.5px #fff9f2,
    74vw 30vh 1px #fff9f2,
    82vw 50vh 1.5px #fff9f2,
    90vw 70vh 1px #fff9f2,
    96vw 28vh 1px #fff9f2,
    8vw 58vh 1px #fff9f2,
    16vw 6vh 1.5px #fff9f2,
    24vw 26vh 1px #fff9f2,
    32vw 44vh 1.5px #fff9f2,
    40vw 64vh 1px #fff9f2,
    48vw 82vh 1.5px #fff9f2,
    56vw 18vh 1px #fff9f2,
    64vw 38vh 1.5px #fff9f2,
    72vw 56vh 1px #fff9f2,
    80vw 74vh 1.5px #fff9f2,
    88vw 12vh 1px #fff9f2,
    94vw 44vh 1.5px #fff9f2;
  animation:
    driftE 28s linear infinite,
    twinkle 3s infinite alternate ease-in-out,
    blurBreathe 6s infinite ease-in-out,
    microJitter 3s ease-in-out infinite;
  animation-delay: -7s, -0.7s, -2.1s, -1.4s;
}

.stars-small::before {
  opacity: 0.5;
  animation:
    driftB 32s linear infinite,
    twinkle 3s infinite alternate ease-in-out,
    blurBreathe 6s infinite ease-in-out,
    microJitter 3s ease-in-out infinite;
  animation-delay: -8s, -1s, -3s, -2s;
}

.stars-small::after {
  opacity: 0.35;
  animation:
    driftC 24s linear infinite,
    twinkle 3s infinite alternate ease-in-out,
    blurBreathe 6s infinite ease-in-out,
    microJitter 3s ease-in-out infinite;
  animation-delay: -11s, -2s, -4s, -1s;
}

.stars-medium {
  width: 3px;
  height: 3px;
  opacity: 0.26;
  box-shadow:
    6vw 18vh 1.5px #f6f9ff,
    14vw 34vh 2px #f6f9ff,
    22vw 52vh 1.5px #f6f9ff,
    30vw 70vh 2px #f6f9ff,
    38vw 12vh 1.5px #f6f9ff,
    46vw 28vh 2px #f6f9ff,
    54vw 46vh 1.5px #f6f9ff,
    62vw 64vh 2px #f6f9ff,
    70vw 82vh 1.5px #f6f9ff,
    78vw 20vh 2px #f6f9ff,
    86vw 38vh 1.5px #f6f9ff,
    94vw 56vh 2px #f6f9ff,
    18vw 82vh 1.5px #f6f9ff,
    44vw 86vh 2px #f6f9ff,
    68vw 8vh 1.5px #f6f9ff,
    90vw 14vh 2px #f6f9ff,
    12vw 62vh 1.5px #f6f9ff,
    28vw 86vh 2px #f6f9ff,
    50vw 12vh 1.5px #f6f9ff,
    76vw 36vh 2px #f6f9ff,
    98vw 72vh 1.5px #f6f9ff;
  animation:
    driftF 25s linear infinite,
    twinkle 3s infinite alternate-reverse ease-in-out,
    blurBreathe 5.5s infinite ease-in-out,
    microJitter 3s ease-in-out infinite;
  animation-delay: -3s, -1.6s, -4.4s, -2s;
}

.stars-medium::before {
  opacity: 0.5;
  animation:
    driftB 29s linear infinite,
    twinkle 3s infinite alternate-reverse ease-in-out,
    blurBreathe 5.5s infinite ease-in-out,
    microJitter 3s ease-in-out infinite;
  animation-delay: -7s, -1s, -3s, -2s;
}

.stars-medium::after {
  opacity: 0.35;
  animation:
    driftD 21s linear infinite,
    twinkle 3s infinite alternate-reverse ease-in-out,
    blurBreathe 5.5s infinite ease-in-out,
    microJitter 3s ease-in-out infinite;
  animation-delay: -10s, -2s, -4s, -1s;
}

@keyframes twinkle {
  0% {
    opacity: 0.15;
  }
  100% {
    opacity: 0.45;
  }
}

@keyframes driftA {
  from {
    --drift-y: 0px;
    --drift-x: 0px;
  }
  to {
    --drift-y: -820px;
    --drift-x: 460px;
  }
}

@keyframes driftE {
  from {
    --drift-y: 0px;
    --drift-x: 0px;
  }
  to {
    --drift-y: 620px;
    --drift-x: -420px;
  }
}

@keyframes driftF {
  from {
    --drift-y: 0px;
    --drift-x: 0px;
  }
  to {
    --drift-y: -360px;
    --drift-x: -560px;
  }
}

@keyframes driftB {
  from {
    --sub-drift-y: 0px;
    --sub-drift-x: 0px;
  }
  to {
    --sub-drift-y: 620px;
    --sub-drift-x: -360px;
  }
}

@keyframes driftC {
  from {
    --sub-drift-y: 0px;
    --sub-drift-x: 0px;
  }
  to {
    --sub-drift-y: -380px;
    --sub-drift-x: -540px;
  }
}

@keyframes driftD {
  from {
    --sub-drift-y: 0px;
    --sub-drift-x: 0px;
  }
  to {
    --sub-drift-y: 520px;
    --sub-drift-x: 360px;
  }
}

@keyframes microJitter {
  0% {
    --jitter-x: 0px;
    --jitter-y: 0px;
  }
  20% {
    --jitter-x: 4px;
    --jitter-y: -3px;
  }
  40% {
    --jitter-x: -4px;
    --jitter-y: 3px;
  }
  60% {
    --jitter-x: 6px;
    --jitter-y: 4px;
  }
  80% {
    --jitter-x: -6px;
    --jitter-y: -4px;
  }
  100% {
    --jitter-x: 0px;
    --jitter-y: 0px;
  }
}

@keyframes blurBreathe {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(0.6px);
  }
  100% {
    filter: blur(0px);
  }
}

@media (max-width: 768px) {
  .stars-medium {
    opacity: 0.22;
  }

  .stars-small {
    opacity: 0.3;
  }
}

@media (min-width: 1600px) {
  .stars-micro {
    opacity: 0.28;
  }

  .stars-small {
    opacity: 0.45;
  }
}
